@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'fallback for Poppins';
  src: local('Arial');
  ascent-override: 105%;
  descent-override: 35%;
  line-gap-override: 10%;
}

:root {
  font-family: Poppins, 'fallback for Poppins', sans-serif;
}

body {
  @apply bg-gray-50 text-gray-950;
}
